<ion-header class="header">
  <ion-title>
    DESENVOLVEDORES
  </ion-title>
</ion-header>

<ion-content class="background">
  <div class="cards">
    <ion-card class="dev-card">
      <ion-avatar class="avatar"><img src="../../assets/images/profile.png"></ion-avatar>
      <ion-card-content>
        <p>Kauã Albuquerque</p>
        <p>01516413</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="dev-card">
      <ion-avatar class="avatar"><img src="../../assets/images/profile.png"></ion-avatar>
      <ion-card-content>
        <p>Eduardo Mendes</p>
        <p>01504209</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>