<ion-header class="header">
  <ion-title>
    SOLICITAR SENHA
  </ion-title>
</ion-header>

<ion-content class="background">

  <ion-segment class="conteudo">
    <ion-button class="button" id="prioritaria" (click)="senhasService.novaSenha('SP')"> <img
        src="../../assets/icon/ArmsUp.png"> Prioritária</ion-button>
    <ion-button class="button" id="exame" (click)="senhasService.novaSenha('SE')"> <img
        src="../../assets/icon/Document.png"> Retirada de Exames</ion-button>
    <ion-button class="button" id="geral" (click)="senhasService.novaSenha('SG')"> <img
        src="../../assets/icon/Ticket.png"> Geral</ion-button>
  </ion-segment>

  <ion-segment class="chamadas">
    SENHAS CHAMADAS
  </ion-segment>
  <section class="senhas-chamadas">
    <ion-card *ngFor="let senha of senhasService.senhasAtendidas" class="card-de-senha">
      <div [class]="senha.tipo"> </div>
      <ion-card-content>
        {{senha.numero}}
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>