<ion-header class="header">
  <ion-title>
    ATENDENTES
  </ion-title>
</ion-header>

<ion-content class="background">

  <div class="guiches">
    <ion-card class="guiche">
      <ion-card-header class="title">GUICHÊ 1</ion-card-header>
      <ion-card-content class="button" (click)="senhasService.atenderSenha('Guichê 1')">
        <ion-button>ATENDER</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="guiche">
      <ion-card-header class="title">GUICHÊ 2</ion-card-header>
      <ion-card-content class="button" (click)="senhasService.atenderSenha('Guichê 2')">
        <ion-button>ATENDER</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="guiche">
      <ion-card-header class="title">GUICHÊ 3</ion-card-header>
      <ion-card-content class="button" (click)="senhasService.atenderSenha('Guichê 3')">
        <ion-button>ATENDER</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="guiche">
      <ion-card-header class="title">GUICHÊ 4</ion-card-header>
      <ion-card-content class="button" (click)="senhasService.atenderSenha('Guichê 4')">
        <ion-button>ATENDER</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>